<ul id="site-navigation" class="main-navigation">
  {% for n in collections.nav %}
  <li class="menu-item">
    <a href="{{ n.url }}" class="menu-link{{ n.url | active_class: page.url }}">{{ n.data.title }}</a>
  </li>
  {% endfor %}
</ul>
