<ul id="site-navigation" class="main-nav">
  {% for n in collections.nav %}
  <li class="main-nav__item">
    <a href="{{ n.url }}" class="main-nav__link{{ n.url | active_class: page.url }}">{{ n.data.title }}</a>
  </li>
  {% endfor %}
</ul>
