<ul id="site-navigation" class="main-navigation">
  <li class="menu-item">
    <a href="/col2/" class="menu-link">Colossians 2</a>
    <ul>
      <li class="menu-item">
        <a href="/col2/col2_16-23" class="menu-link">Rooted in Jesus</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/conscience/" class="menu-link">Conscience</a>
    <ul>
      <li class="menu-item">
        <a href="/conscience/1-conscience" class="menu-link">Conscience</a>
      </li>
      <li class="menu-item">
        <a href="/conscience/2-conscience" class="menu-link">Conscience (Pt 2)</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/law/" class="menu-link">The Christian and the Law</a>
    <ul>
      <li class="menu-item">
        <a href="/law/3-fullfillment" class="menu-link">Jesus’ View</a>
      </li>
      <li class="menu-item">
        <a href="/law/2-limitations" class="menu-link">Limitations</a>
      </li>
      <li class="menu-item">
        <a href="/law/1-overview" class="menu-link">Overview</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/imperial-cult/" class="menu-link">Christ &amp; Caesar</a>
    <ul>
      <li class="menu-item">
        <a href="/imperial-cult/5-appearance-arrival" class="menu-link">Appearance /
          Arrival</a>
      </li>
      <li class="menu-item">
        <a href="/imperial-cult/1-god" class="menu-link">God / Son of God</a>
      </li>
      <li class="menu-item">
        <a href="/imperial-cult/2-lord-principalities-powers" class="menu-link"
         >Lord / Principalities and Powers</a>
      </li>
      <li class="menu-item">
        <a href="/imperial-cult/4-peace-security" class="menu-link">Peace / Security</a>
      </li>
      <li class="menu-item">
        <a href="/imperial-cult/3-savior-gospel" class="menu-link">Savior / Gospel</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/galatians/" class="menu-link">Galatians</a>
    <ul>
      <li class="menu-item">
        <a href="/galatians/1" class="menu-link">Galatians 1</a>
      </li>
      <li class="menu-item">
        <a href="/galatians/2" class="menu-link">Galatians 2</a>
      </li>
      <li class="menu-item">
        <a href="/galatians/3" class="menu-link">Galatians 3</a>
      </li>
      <li class="menu-item">
        <a href="/galatians/4" class="menu-link">Galatians 4</a>
      </li>
      <li class="menu-item">
        <a href="/galatians/5" class="menu-link">Galatians 5</a>
      </li>
      <li class="menu-item">
        <a href="/galatians/6" class="menu-link">Galatians 6</a>
      </li>
    </ul>
  </li>
</ul>
