<ul>
  <li class="col2">
    <a href="/col2/">Colossians 2</a>
    <ul>
      <li class="col2_16-23">
        <a href="/col2/col2_16-23">Rooted in Jesus</a>
      </li>
    </ul>
  </li>
  <li class="conscience">
    <a href="/conscience/">Conscience</a>
    <ul>
      <li class="1-conscience">
        <a href="/conscience/1-conscience">Conscience</a>
      </li>
      <li class="2-conscience">
        <a href="/conscience/2-conscience">Conscience (Pt 2)</a>
      </li>
    </ul>
  </li>
  <li class="galatians">
    <a href="/galatians/">Galatians</a>
    <ul style="display: block;">
      <li class="1">
        <a href="/galatians/1">Galatians 1</a>
      </li>
      <li class="2">
        <a href="/galatians/2">Galatians 2</a>
      </li>
      <li class="3">
        <a href="/galatians/3">Galatians 3</a>
      </li>
      <li class="4">
        <a href="/galatians/4">Galatians 4</a>
      </li>
      <li class="5">
        <a href="/galatians/5">Galatians 5</a>
      </li>
      <li class="6">
        <a href="/galatians/6">Galatians 6</a>
      </li>
    </ul>
  </li>
  <li class="imperial-cult">
    <a href="/imperial-cult/">Christ &amp; Caesar</a>
    <ul>
      <li class="1-god">
        <a href="/imperial-cult/1-god">God / Son of God</a>
      </li>
      <li class="2-lord-principalities-powers">
        <a href="/imperial-cult/2-lord-principalities-powers">Lord /
          Principalities and Powers</a>
      </li>
      <li class="3-savior-gospel">
        <a href="/imperial-cult/3-savior-gospel">Savior / Gospel</a>
      </li>
      <li class="4-peace-security">
        <a href="/imperial-cult/4-peace-security">Peace / Security</a>
      </li>
      <li class="5-appearance-arrival">
        <a href="/imperial-cult/5-appearance-arrival">Appearance / Arrival</a>
      </li>
    </ul>
  </li>
  <li class="law">
    <a href="/law/">The Christian and the Law</a>
    <ul>
      <li class="1-overview">
        <a href="/law/1-overview">Overview</a>
      </li>
      <li class="2-limitations">
        <a href="/law/2-limitations">Limitations</a>
      </li>
      <li class="3-fullfillment">
        <a href="/law/3-fullfillment">Jesus’ View</a>
      </li>
    </ul>
  </li>
</ul>
