---
layout: _base
---

<div class="posts-list">
  {% for link in collections[tags] %}
    {% if link.data.title == title %}
      {% continue %}
    {% endif %}
    <article class="posts-list__item">
      <h2 class="posts-list__title">
        <a class="posts-list__title-link" href="{{ link.url }}">{{ link.data.title }}</a>
      </h2>
      <p class="posts-list__description">{{ link.data.description }}</p>
      <a class="posts-list__continue-link" href={{ link.url }}>Continue&nbsp;Reading</a>
    </article>
  {% endfor %}
</div>
