---
layout: _base
---

<div class="pages-list">
  {% for link in collections[tags] %}
    {% if link.data.title == title %}
      {% continue %}
    {% endif %}
    <div class="pages-list__item">
      <h2>
        <a href="{{ link.url }}">{{ link.data.title }}</a>
      </h2>
      <p>{{ link.data.description }}<br><a href={{ link.url }}>Continue&nbsp;Reading</a></p>
    </div>
  {% endfor %}
</div>
