---
layout: _base
---
<div class="pages-list">
  {% for cat in collections.nav %}
    <h2 class="pages-list__title">
      <a class="pages-list__title-link" href="{{ cat.url }}">
        {{ cat.data.title }}
      </a>
    </h2>
    <ol class="pages-list__list">
      {% for link in collections[cat.data.tags] %}
        {% if link.data.title == cat.data.title %}
          {% continue %}
        {% endif %}
        <li class="pages-list__list-item">
          <a class="pages-list__list-item-link" href="{{ link.url }}">
            {{ link.data.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
  {% endfor %}
</div>
