.site-footer {
  margin-top: 4rem;
  padding: 1rem 0;
  background: $offwhite;
  box-shadow: 0 999em 0 999em $offwhite;
  color: $darkblue;
  text-align: center;
  font-style: italic;

  p:last-child {
    margin: 0;
  }
}
