.site-footer {

  margin-top: 4rem;
  padding: 1rem 0;
  background: $offwhite;
  box-shadow: 0 999em 0 999em $offwhite;

  p {
    @extend h6;

    margin: 0;
    font-style: italic;
    font-family: $font-headings;
    color: $darkgray;
    text-align: center;
  }
}
