.site-header {
  @extend %clear;

  @include fsmooth(yes);

  position: relative;
  z-index: 10;
  padding: 0;
  background: $darkblue;
  box-shadow: 0 -999em 0 999em $darkblue;
  color: $offwhite;

  @include breakpoint(medium) {
    text-align: center;
  }
}

.site-title {
  @extend h4;

  color: inherit;
  margin: 0;
  padding: .5em 1em .5em 0;
  font-weight: bold;
  font-family: $font-headings;
  display: inline-block;
  vertical-align: top;

  a,
  a:visited {
    color: $offwhite;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $lightgray;
    }
  }
}
