body {
  font-family: $font;
}

h1,h2,h3,h4,h5,h6 {
  color: $mediumblue;
  font-weight: normal;
  font-family: $font-headings;
}

.page-title {
  padding: .5em 0;
  background: $lightgray;
  box-shadow: 0 -999em 0 999em $lightgray;
  border-bottom: 1px solid $lightgray;
}

h2 {
  font-weight: bold;
}

h4 {
  @extend h5;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: (1em / 16);
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 1em solid $gray;
  color: $darkgray;
  font-family: $font-headings;
  font-style: italic;
}

%clean-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

a,
a:visited {
  color: $mediumblue;

  &:hover,
  &:active,
  &:focus {
    color: $darkblue;
  }
}
.pages-list {
  ul {
    @extend %clean-list;

    margin-bottom: $typecsset-magic-number;
    margin-bottom: $typecsset-magic-ratio + rem;
    background: $offwhite;

    a {
      padding-left: 2em;

      &:hover {
        background: $lightgray;
      }
    }
  }

  li {
    @extend h5;

    a {
      text-decoration: none;
      display: block;
      padding: .5em;
    }
  }

  a {
    text-decoration: none;
  }
}
