/* Color Variables */

$darkblue: #14225f;
$mediumblue: #005595;
$gray: #c6c9ce;
$lightgray: #e8e9eb;
$offwhite: #f8f8f8;
$white: #fff;
$darkgray: #5d6065;
$black: #000;

/* Text Variables */

$font: Palatino Linotype, Palatino, Times, serif;
$font-headings: Helvetica Neue, Helvetica, sans-serif;

$font-size: 20px;
$ratio: 1.414;

$typecsset-base-font-size: $font-size;
$typecsset-base-line-height: $typecsset-base-font-size * $ratio;

/* Heading sizes */
$typecsset-h5-size: $typecsset-base-font-size;
$typecsset-h6-size: $typecsset-h5-size / $ratio;
$typecsset-h4-size: $typecsset-h5-size * $ratio;
$typecsset-h3-size: $typecsset-h5-size * $ratio;
$typecsset-h2-size: $typecsset-h3-size * $ratio;
$typecsset-h1-size: $typecsset-h3-size * $ratio;

/* Breakpoints */

$smallBP: 480px;
$mediumBP: 720px;
$largeBP: 960px;

%clear {
  &:before,
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
