html {
  color: var(--color-text);
  background: var(--color-background);
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacing) 0 var(--spacing-small);
  color: var(--color-text-alt);
  font-weight: normal;
  font-family: var(--font-headings);

  &:first-child() {
    margin-top: 0;
  }
}

h1 {
  font-size: var(--font-size-hero);
  line-height: var(--line-height-hero);
}

h2 {
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  font-weight: bold;
  color: var(--color-accent-dark);
}

h3 {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
}

h4, h5, h6 {
  margin-bottom: var(--spacing-tiny);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: var(--letter-spacing-wide);
  color: var(--color-accent-dark);
}

p {
  margin: 0 0 var(--spacing-small);
}

blockquote {
  margin-left: 0;
  padding-left: var(--spacing-small);
  border-left: var(--spacing-small) solid var(--color-borders);
  color: var(--color-text-alt);
  font-family: var(--font-headings);
  font-style: italic;

  p {
    white-space: pre-wrap;
  }

  br {
    display: none;
  }

  em {
    font-size: 0.67em;
    font-style: normal;
    vertical-align: super;
  }
}

a {
  color: var(--color-text-link);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: var(--color-text-link-active);
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

button {
  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}
