@use "sass:math";

:root {
  /* Color Variables */
  --color-accent-neutral: #14225f;
  --color-accent-dark: #14225f;
  --color-accent-medium: #005595;
  --color-borders: #c6c9ce;
  --color-text-light: #e8e9eb;
  --color-background-alt: #f8f8f8;
  --color-background: #fff;
  --color-text-alt: #5d6065;
  --color-text: #000;
  --color-text-link: var(--color-accent-medium);
  --color-text-link-active: var(--color-accent-dark);

  /* Text Variables */
  --font-body: Lora, Palatino Linotype, Palatino, Times, serif;
  --font-headings: Lato, Helvetica Neue, Helvetica, sans-serif;
  --font-size-ratio: 1.414;
  --font-size-base: #{math.div(20rem, 16)};
  --font-size-small: #{math.div(16rem, 16)};
  --font-size-heading: #{math.div(30rem, 16)};
  --font-size-title: #{math.div(36rem, 16)};
  --font-size-hero: #{math.div(48rem, 16)};

  --line-height-base: 1.8;
  --line-height-small: 1.125;
  --line-height-heading: 1.2;
  --line-height-title: 1;
  --line-height-hero: 1.125;

  --letter-spacing-wide: #{math.div(1em, 16)};

  --spacing: #{math.div(36rem, 16)};
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-tiny: calc(var(--spacing) / 4);
  --spacing-large: calc(var(--spacing) * 1.5);
  --spacing-huge: calc(var(--spacing) * 2);

  --content-width: 40rem;

  @media (prefers-color-scheme: dark) {
    /* Color Variables */
    --color-accent-neutral: #101b4c;
    --color-accent-dark: #cfd0d1;
    --color-accent-medium: #003c68;
    --color-borders: #252627;
    --color-text-light: #e8e9eb;
    --color-background-alt: #232323;
    --color-background: #111;
    --color-text-alt: #9ea0a3;
    --color-text: #fff;
    --color-text-link: #6699bf;
    --color-text-link-active: #99bbd5;
  }
}
