.site-header {
    @extend %clear;
    position: relative;
    z-index: 10;
    padding: 0;
    background: $darkblue;
    box-shadow: 0 -999em 0 999em $darkblue;
    color: $offwhite;
    @include fsmooth(yes);
    @include px-rem(padding-bottom,27);
}
.site-title {
    @extend h4;
    position: absolute;
    left: 0;
    bottom: 0;
    color: inherit;
    margin: 0;
    padding: .5em 1em .5em 0;
    font-weight: bold;
    width: intrinsic;
    display: inline-block;
    vertical-align: top;

    a,
    a:visited {
        color: $offwhite;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
            color: $lightgray;
        }
    }
}
.menu {
    background: $darkgray;
    background: rgba($black,.5);
    box-shadow: 0 -999em 0 999em rgba($black,.5);
}
.menu-toggle {
    background: $mediumblue;
    padding: 0 1em;
    @include px-rem(line-height,27);
    position: absolute;
    right: 0;
    bottom: 0;
}