.main-navigation {
	display: block;
	text-transform: uppercase;
    margin: 0;
    text-align: right;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	position: relative;
	padding: 0;
	margin: 0;
	&:hover > a {
		color: $lightgray;
        background: $darkblue;
        @include breakpoint(large) {
            background: $mediumblue;
        }
    }
}
.main-navigation a {
    @extend h5;
    margin: 0;
	display: block;
	text-decoration: none;
	padding: 0 .75em;
	@include px-rem(line-height, 27);
	color: $lightgray;
}
.main-navigation ul {
	display: none;
	float: left;
    text-transform: none;
    
    @include breakpoint(large) {
        position: absolute;
            left: auto;
            right: 0;
            top: 2.7em;
        padding: 0;
        z-index: 99999;
        background: $mediumblue;
    }
}
.main-navigation ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul a {
    @extend h5;
    color: $white;
    text-transform: none;
    font-variant: normal;
    margin: 0;
    padding: .5em 1em;
	width: intrinsic;
    text-align: right;
}
.main-navigation ul li {
    display: block;
}
.main-navigation li:hover > a {
}
.main-navigation ul :hover > a {
	background: $darkblue;
	background: rgba($white,.15);
}
.main-navigation ul a:hover {
}
.main-navigation li:hover > ul {
	@include breakpoint(large) {
        display: block;
    }
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

.js {
	.menu-toggle,
	.menu.active {
		display: block;
	}

	.menu {
		display: none;
	}
}
