body {
    font-family: $sans;
}
h1,h2,h3,h4,h5,h6 {
    color: $mediumblue;
    font-weight: normal;
}
.page-title {
    padding: .5em 0;
    background: $lightgray;
    box-shadow: 0 -999em 0 999em $lightgray;
    border-bottom: 1px solid $lightgray;
}
h2 {
    font-weight: bold;
}
h4 {
    @extend h5;
    text-transform: uppercase;
}
blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 1em solid $gray;
    font-style: italic;
}
%clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
    }
}
a,
a:visited {
    color: $mediumblue;
    &:hover,
    &:active,
    &:focus {
        color: $darkblue;
    }
}
.pages-list {
    ul {
        @extend %clean-list;
        ul {
            background: $offwhite;
            position: relative;
            z-index: 10;
            a {
                padding-left: 2em;
                &:hover {
                    background: $lightgray;
                }
            }
        }
    }
    li {
        @extend h3;
    }
    a {
        text-decoration: none;
        display: block;
        padding: .5em;
    }
    & > ul {
        & > li {
            background: $lightgray;
            margin-bottom: 1em;
        }
    }
}